@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
.contanier-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 70%;
    margin: 40px auto;
}

.Modal{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}